{% extends "layout/templateadmin.html" %} {% block content %}
<main id="main" class="main">
  <div class="pagetitle">
    <h1>Form Weather</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="{{url_for('datatable')}}">Data Weather</a>
        </li>
        <li class="breadcrumb-item">
          <a href="{{url_for('formdata')}}">Forms Weather</a>
        </li>
        <li class="breadcrumb-item active">Form Data Weather</li>
      </ol>
    </nav>
  </div>
  <!-- End Page Title -->
  <section class="section">
    <div class="row">
      {% with messages = get_flashed_messages(with_categories=true) %} {% if
      messages %} {% for category, message in messages %} {% if category ==
      "success" %}
      <div class="alert alert-success">{{ message }}</div>
      {% else: %}
      <div class="alert alert-danger">{{ message }}</div>
      {% endif %} {% endfor %} {% endif %} {% endwith %}
      <div class="col-lg-12">
        <a class="btn btn-secondary" href="{{url_for('datatable')}}">
          <i class="bi bi-backspace"></i> Kembali
        </a>
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Upload File Data Weather</h5>
            <!-- Form Data Weather -->
            <form
              action="{{url_for('upload_file')}}"
              method="POST"
              enctype="multipart/form-data"
            >
              <div class="row mx-auto">
                <div class="col-sm-10">
                  <input
                    class="form-control mb-3"
                    type="file"
                    name="file"
                    id="file"
                  />
                  <h6>file harus ekstensi .csv</h6>
                </div>
                <div class="col-sm-2">
                  <input class="form-control btn btn-primary" type="submit" />
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Form Data Weather</h5>
            <!-- {% with messages = get_flashed_messages(with_categories=true) %} {%
            if messages %} {% for category, message in messages %} {% if
            category == "success" %}
            <div class="alert alert-success">{{ message }}</div>
            {% endif %} {% endfor %} {% endif %} {% endwith %} -->
            <!-- Form Data Weather -->
            <form
              class="row g-3 needs-validation"
              action="{{url_for('predict')}}"
              method="POST"
              novalidate
            >
              <div class="col-6">
                <label for="tanggal" class="form-label">Tanggal</label>
                <div class="input-group has-validation">
                  <input
                    type="date"
                    name="tanggal"
                    class="form-control"
                    id="tanggal"
                    value="{{tanggal}}"
                    required
                  />
                  <div class="invalid-feedback">Please enter your tanggal</div>
                </div>
              </div>

              <div class="col-6">
                <label for="pukul" class="form-label">Pukul</label>
                <input
                  type="time"
                  name="pukul"
                  class="form-control"
                  id="pukul"
                  value="{{pukul}}"
                  required
                />
                <div class="invalid-feedback">Please enter your pukul</div>
              </div>

              <div class="col-6">
                <label for="arah_angin" class="form-label"
                  >Arah angin (˚)</label
                >
                <div class="input-group has-validation">
                  <input
                    type="text"
                    name="arah_angin"
                    class="form-control"
                    id="arah_angin"
                    value="{{arah_angin}}"
                    required
                  />
                  <div class="invalid-feedback">
                    Please enter your Arah angin (˚)
                  </div>
                </div>
                <h6>Masukkan harus bilangan bulat</h6>
              </div>

              <div class="col-6">
                <label for="kecepatan_angin" class="form-label"
                  >Kecepatan angin (KT)</label
                >
                <input
                  type="text"
                  name="kecepatan_angin"
                  class="form-control"
                  id="kecepatan_angin"
                  value="{{kecepatan_angin}}"
                  required
                />
                <div class="invalid-feedback">
                  Please enter your Kecepatan angin (KT)
                </div>
                <h6>Masukkan harus bilangan bulat</h6>
              </div>

              <div class="col-6">
                <label for="jarak_pandang" class="form-label"
                  >Jarak pandang (Km)</label
                >
                <div class="input-group has-validation">
                  <input
                    type="text"
                    name="jarak_pandang"
                    class="form-control"
                    id="jarak_pandang"
                    value="{{jarak_pandang}}"
                    required
                  />
                  <div class="invalid-feedback">
                    Please enter your Jarak pandang (Km).
                  </div>
                </div>
                <h6>Masukkan harus bilangan bulat</h6>
              </div>

              <div class="col-6">
                <label for="suhu" class="form-label">Suhu (˚)</label>
                <input
                  type="text"
                  name="suhu"
                  class="form-control"
                  id="suhu"
                  value="{{suhu}}"
                  required
                />
                <div class="invalid-feedback">Please enter your Suhu (˚)</div>
                <h6>Bilangan desimal dengan format . (1.0)</h6>
              </div>

              <div class="col-6">
                <label for="titik_embun" class="form-label"
                  >Titik embun (˚)</label
                >
                <div class="input-group has-validation">
                  <input
                    type="text"
                    name="titik_embun"
                    class="form-control"
                    id="titik_embun"
                    value="{{titik_embun}}"
                    required
                  />
                  <div class="invalid-feedback">
                    Please enter your Titik embun (˚)
                  </div>
                </div>
                <h6>Bilangan desimal dengan format . (1.0)</h6>
              </div>

              <div class="col-6">
                <label for="tekanan_udara" class="form-label"
                  >Tekanan udara (mb)</label
                >
                <input
                  type="text"
                  name="tekanan_udara"
                  class="form-control"
                  id="tekanan_udara"
                  value="{{tekanan_udara}}"
                  required
                />
                <div class="invalid-feedback">
                  Please enter your Tekanan udara (mb)
                </div>
                <h6>Bilangan desimal dengan format . (1.0)</h6>
              </div>

              <div class="col-2 mx-auto mb-4">
                <button
                  class="btn btn-primary w-100 rounded-pill"
                  name="simpan"
                  type="submit"
                >
                  Proses
                </button>
              </div>

              <!-- Basic Modal -->
              <div class="modal fade" id="basicModal" tabindex="-1">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title">Notifikasi</h5>
                      <button
                        type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"
                      ></button>
                    </div>
                    <div class="modal-body">
                      Apakah anda ingin menyimpan data ini?
                    </div>
                    <div class="modal-footer">
                      <button
                        type="button"
                        class="btn btn-secondary"
                        data-bs-dismiss="modal"
                      >
                        Kembali
                      </button>
                      <button
                        type="submit"
                        class="btn btn-primary"
                        name="submit"
                      >
                        Simpan
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <!-- End Basic Modal-->
              <div class="mx-auto mb-2 row">
                <label for="cuaca" class="col-sm-4 mx-auto col-form-label"
                  >Hasil Klasifikasi Cuaca :</label
                >
                <div class="mx-auto col-sm-5">
                  <input
                    type="text"
                    class="form-control"
                    placeholder="hasil"
                    value="{{cuaca}}"
                    readonly
                  />
                </div>
              </div>
            </form>
            <!-- End Custom Styled Validation -->
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
<!-- End #main -->
{% endblock %}
